{% extends 'base_layout.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <p>Hello, {{ user.username }}</p>
    <p><a href="{% url 'logout' %}">Logout</a></p>
{% else %}
    <p>Hello, guest. You are not logged in.</p>
    <a href="{% url 'login' %}">Login</a> |
    <a href="{% url 'register' %}">Register</a>
{% endif %}
<p>Choose an action on marketplace</p>
<ul>User view
    <li>Random</li>
</ul>
<ul>API
    <li><a href="{% url 'marketplace:api_view_products' %}">Browse all available products</a></li>
    <li><a href="{% url 'marketplace:api_view_cart' %}">View your cart</a></li>
</ul>
<ul>For single items
    <li><a href="{% url 'marketplace:api_view_single_product' 1 %}">View the first product</a></li>
    <li><a href="{% url 'marketplace:api_add_to_cart' 1 %}">Add first product to cart</a></li>
    <li><a href="{% url 'marketplace:api_update_cart_entry' 6 %}">Update your first cart entry here</a></li>
</ul>
<form action="{% url 'marketplace:api_checkout_cart' %}" method="post">
    {% csrf_token %}
    <input type="hidden">
    <button type="submit">Checkout your cart</button>
</form>

{% endblock %}
